{% extends 'base.html.twig' %}

{% block title %}BankUpp - Wykonaj przelew{% endblock %}

{% block body %}
    <h1>Historia przelewów</h1>


    <section class="user-history-container">
        {% if histories is not empty %}
        <table class="manage-users-table">
            <tr>
                <th>Źródłowe konto</th>
                <th>Rodzaj</th>
                <th>Kwota</th>
                <th>Dane</th>
                <th>Data</th>
            </tr>
            {% for history in histories %}
                <tr>
                    {% if history.fromAccount.user.email == userEmail %}
                        <td>
                            <div>
                                {{ history.fromAccount.accountType.name }}
                            </div>
                            <div>
                                {{ history.fromAccount.accountCode }}
                            </div>
                        </td>
                        <td>Wydatek</td>
                        <td> -{{ history.amount }} zł</td>
                        <td>
                            <div>
                                {{ history.toAccount.user.firstName }}
                                {{ history.toAccount.user.LastName }}
                            </div>
                            <div>
                                {{ history.toAccount.user.email }}
                            </div>
                            <div>
                                {{ history.toAccount.accountCode }}
                            </div>
                        </td>
                        <td>
                            {{ history.date|date('d-m-Y') }}
                        </td>
                    {% else %}
                        <td>
                            <div>
                                {{ history.toAccount.accountType.name }}
                            </div>
                            <div>
                                {{ history.toAccount.accountCode }}
                            </div>

                        </td>
                        <td>Przychód</td>
                        <td>+{{ history.amount }} zł</td>
                        <td>
                            <div>
                                {{ history.fromAccount.user.firstName }}
                                {{ history.fromAccount.user.LastName }}
                            </div>
                            <div>
                                {{ history.fromAccount.user.email }}
                            </div>
                            <div>
                                {{ history.fromAccount.accountCode }}
                            </div>
                        </td>
                        <td>{{ history.date|date('d-m-Y') }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Nie ma tu jeszcze żadnych przelewów</p>
        {% endif %}
    </section>
{% endblock %}
