{% extends 'base.html.twig' %}

{% block title %}BankUpp - zarządzanie {{ typeInfo~'ami' }}{% endblock %}

{% block body %}
    <section class="manage-users-header">
        <div>
            <h1>Zarządzaj {{ typeInfo~'ami' }}</h1>
        </div>
        <div>
            <a href="
            {% if typeInfo == 'użytkownik' %}
            {{ path('app_banker_add_user') }}
            {% elseif typeInfo == 'bankier' %}
            {{ path('app_admin_add_banker') }}
            {% endif %}

" class="btn">Dodaj {{ typeInfo~'a' }}</a>
        </div>
    </section>

    <section class="manage-users-container">
        <table class="manage-users-table">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Adres</th>
                <th>Kod pocztowy</th>
                <th>Miasto</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.address.address }}</td>
                    <td>{{ user.address.postalCode }}</td>
                    <td>{{ user.address.city }}</td>
                    <td>
                        <div>
                            <a href="{{ path('app_user_crud_edit', {id: user.id, typeInfo: typeInfo}) }}">Zmień dane</a>
                        </div>
                        <div>
                            <a href="{{ path('app_user_crud_show', {id: user.id, typeInfo: typeInfo}) }}">Wyświetl</a>
                        </div>
                        {{ include('user_crud/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Nie znaleziono {{ typeInfo~'ów' }}.</td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
