<header class="site-header">
    <a href="{{ path('app_main') }}" class="site-logo">BankUpp</a>
    <div class="site-menu">
        <a href="#" class="menu-tile">Nasz bank</a>
        {% if is_granted('ROLE_BANK_USER') %}
        <a href="{{ path('app_bank_user') }}" class="menu-tile">Moje konto</a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin') }}" class="menu-tile">Zarządaj</a>
        {% endif %}

        {% if is_granted('ROLE_BANKER') %}
            <a href="{{ path('app_banker') }}" class="menu-tile">Panel bankiera</a>
        {% endif %}


        {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_logout') }}" class="menu-tile">Wyloguj</a>
        {% endif %}

        {% if not is_granted('ROLE_USER') %}
        <a href="{{ path('app_login') }}" class="menu-tile">Zaloguj się</a>
        <a href="{{ path('app_register') }}" class="menu-tile">Zarejestruj się</a>
        {% endif %}

    </div>
</header>