{% extends 'base.html.twig' %}

{% block title %}BankUpp - Twoje konto{% endblock %}

{% block body %}

    <h1>Twoje konto</h1>
    <section class="user-dashboard">
        <section class="user-section">
            <div class="user-data-container">
                <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
                <div class="user-email">{{ user.email }}</div>
                <div class="user-phone">tel: {{ user.phoneNumber }}</div>
                <div class="user-address">
                    <div>{{ user.address.address }}</div>
                    <div>{{ user.address.postalCode }}</div>

                </div>
                <div class="user-total-balance">Masz w sumie {{ totalBalance }}zł</div>
                <a href="{{ path('app_account_history') }}">Historia przelewów</a>
            </div>
            <div class="phone-account-container">
                {% if phoneAccountId %}
                    <div>Przelewy na telefon</div>
                    {% for account in  user.accounts %}
                        {% if account.id == phoneAccountId %}
                            {% include 'bank_user/card_account.html.twig' with {'setPhoneAccountLink': false} %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        <section>
            <div class="accounts-container">
                {% for account in  user.accounts %}
                    {% if account.id != phoneAccountId %}
                        {% include 'bank_user/card_account.html.twig'  with {'setPhoneAccountLink': true}%}

                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <a href="{{ path('app_account_create',{accountType: 1}) }}">Dodaj konto Standardowe</a><br>
        <a href="{{ path('app_account_create',{accountType: 2}) }}">Dodaj konto Extra</a><br>
        <a href="{{ path('app_account_create',{accountType: 3}) }}">Dodaj konto Platinium</a><br>
    </section>

{% endblock %}
